nav {
  color: black;
  background-color: white;
}

#para {
  text-align: center;
  color: black;
}
body {
  background-color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
h1.about-title b{
  line-height: 3rem;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
    position:relative;
    text-align: center;
    width:250px;
    padding:40px;
    font-size:35px;
    color:#15f4ee;
    font-family: poppins;
    font-weight:400;
    border:5px solid #15f4ee;
    text-transform:uppercase;
    letter-spacing: 15px;
    cursor:pointer;
    border-radius: 100px;
    transition:1.5s;
}
#buttons:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}

.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 6%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
