nav {
  color: white;
  background-color: black;
}

#para {
  text-align: center;
  color: black;
}
body {
  background-color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
h1.about-title b{
  line-height: 3rem;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}

.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 6%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background: #333; */
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    /* background-color: #f1f1f1;  */
}

.containers {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}
.container .card:nth-child(4) .icon {
  background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}