::-webkit-scrollbar {
  width: 15px;
}

.card-title {
  font-size: 1.3rem;  
  font-weight: bold;  
  color: #034efd; 
   
  transition: transform 0.3s ease;
  text-align: center;
}

.card-title:hover {
  font-size: 1.7rem;
  color: #ff6600;  
  transform: scale(1.05); 
  cursor: pointer; 
}
 
.card-title {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.5rem; 
  margin-bottom: 0.5rem; 
}
 
.card-title:hover {
  border-bottom-color: #ff6600;
}


.next{
  padding: 3px;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.background-image{
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.prev{
  padding: 3px;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 10px;

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(black, #8bf2d5);
  border-radius: 10px;
  /* transition: all 0.6s; */
}

::-webkit-scrollbar-track{
  /* border-radius: 10px; */
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #f4f2a8);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#scroll-back{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: white;
  height: 60px;
  width: 60px;
  z-index: 100000;
  border-radius: 50%;
}

#scroll-back:hover{
  transition: all 0.3s;
  transform: scale(1.1);
}

#scroll-back a{
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -29px;
}

#header {
  background: url('https://i.pinimg.com/originals/a0/5b/e7/a05be72bed7c744f6d8d5b887b924aa6.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 20%;
  margin:0 auto;
}
.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 45%;  
  padding: 2rem;
}
body {
  font-family: 'Righteous', cursive;
  background-color: #444;
}

.navbar {
  background-color: black;
  color: white;
}

.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: wheat;
  margin:20px;
  border-radius: 0;
  height: 100%;
  box-shadow: 3px 3px 1px #e92929, 5px 5px 1px 
  #a2e946,7px 7px 1px #297ce9, 9px 9px 1px #e92999;
  transition: all 0.5s;
}

.card-text{
  color:#eee;
  text-align: left;
  margin: 8px 16px 8px 18px;
}

.card-body > a {
  text-decoration: none;
  letter-spacing: 4px;
}

.card:hover{
  box-shadow: -10px 10px 10px  #dcf002, 10px -10px 10px 
  #d61616 ;
  transform: scale(0.95);
  z-index: 100;
}

.card {  
  border: 1px solid #ccc;
  border-radius: 50px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.04); /* Increase size on hover */
}

.theme{
  background-image: url(images/2407699.jpg);
  width: 169%;
  background-repeat: no-repeat;
  margin-left: -35%;
  margin-top:-23%;
  height: 140vh;
  object-fit:scale-down;
}

.logo-img {
  transition: transform 0.3s ease;
}
.logo-img:hover {
  transform: scale(1.2);
}

ul li{
  list-style:none;
  margin:0 20px;
  transition:0.5s;
}
ul li a{
  display: block;
  position:relative;
  text-decoration:none;
  padding:5px;
  font-size:18px;
  font-family: sans-serif;
  color:#fff;
  text-transform:uppercase;
  transition:0.5s;
}

.gallery-head {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 5%;
  margin-top: 15%;
  text-transform: uppercase;
  color:white;
  text-shadow: 1px 1px 1px #000;
}
.lead {
  font-size: 1.5rem;
}
.display-3 {
  font-size: 8rem;
}
.gallery-icon {
  color: #000000;
  text-align: center;
}
.backToTop {
  margin-left: 49%;
  color: #000000;
  padding: 0.6%;
  border-radius: 50%;
  margin-bottom: 4%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
@media screen and (min-width: 992px) {
  ul:hover li a {
    transform: scale(1.2);
    opacity: 0.2;
    filter: blur(1px);
  }
  
  ul li a:hover {
    transform: scale(1.2);
    opacity: 1;
    filter: blur(0);
    text-decoration: none;
    color: #fff;
  }

  ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF4F04;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
  }

  ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }
}

@media screen and (max-width: 991px) {
  ul li a:hover{
    color: #FF4F04 !important;
    font-size: 22px;
  }
}