 <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login and register form</title>
</head>
<body>
<div class="poonam">
	<div class="form-box">
		<div class="button-box">
			<div id="button"></div>
			<button type="button" class="toggle-btn" onclick="login()">login</button>
			<button type="button" class="toggle-btn" onclick="register()">register</button>
		</div>
		<div class="social-icons">
			<img src="https://1000logos.net/wp-content/uploads/2016/11/New-Google-Logo.jpg">
			<img src="https://cdn4.iconfinder.com/data/icons/various-icons-2/476/Facebook.png">
			<img src="https://cdn4.iconfinder.com/data/icons/various-icons-2/476/Twitter.png">
		</div>
		<form id="login" class="input-grp">
			<input type="text" class="input-field" placeholder="user Id"required>
			<input type="text" class="input-field" placeholder="password"required>
			<input type="checkbox" class="check-box"><span>Remember Password</span>
			<button type="submit" class="submit-btn">Login</button>
		</form>
		<form id="register" class="input-grp">
			<input type="text" class="input-field" placeholder="user Id"required>
			<input type="email" class="input-field" placeholder="Email Id"required>
			<input type="text" class="input-field" placeholder="password"required>
			<input type="checkbox" class="check-box"><span>I agree to the terms & condition</span>
			<button type="submit" class="submit-btn">Register</button>
		</form>
	</div>
</div>
<script>
	var x = document.getElementById("login");
	var y = document.getElementById("register");
	var z = document.getElementById("button");

	function register() 
	{
		x.style.left = "-400px";
		y.style.left = "50px";
		z.style.left = "110px";
	}

	function login()
	{
		x.style.left = "50px";
		y.style.left = "450px";
		z.style.left = "0px";
	}

</script>
</body>
</html>




CSS STYLE 
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.poonam{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box {
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
	}
.button-box{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
    border-radius:30px ;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#button{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f , #ffad06);
	border-radius: 30px;
	transition: .5s;
}
.social-icons{
	margin: 30px auto;
	text-align: center;
}
.social-icons img{
	width: 30px;
	margin: 0 12px ;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 50%;
}
.input-grp{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width:85% ;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	background:linear-gradient(to right, #ff105f , #ffad06) ;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
span{color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}
#login{
	left: 50px;
}
#register{
	left: 450px;
}
